<h1>New Author</h1>

<%= form_for(@author) do |n| %>
<div>
<%= n.label :name %>
<%= n.text_field :name%>

</div>
<div>
<%= n.label :phone_number %>
<%= n.text_field :phone_number %>
</div>
<%= n.submit %>
<% end %>